
@font-face {
  font-family:나눔고딕, 나눔스퀘어 Extrabold;
  src: url('./static/fonts/나눔고딕.ttf');
  src: url('./static/fonts/나눔스퀘어 Extrabold.ttf');

}

body {
  font-family:나눔고딕;
}
ol{
  line-height: 180%;
}
#nowHere{
  color:red;
  text-decoration:none;
  font-family:나눔스퀘어 Extrabold;
}
.indexleft{
  color:gray;
  text-decoration:none;
  font-family:나눔스퀘어 Extrabold;
}
#indexline{
    border-right: 1px solid gray;
}

#grid{
  display: grid;
  grid-template-columns: 230px 1fr;
}
#grid #article{
  padding-left:25px;
}
